[submodule "external_tools/googletest"]
	path = external_tools/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "external_tools/backward-cpp"]
	path = external_tools/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "external_tools/growt"]
	path = external_tools/growt
	url = https://github.com/DanielSeemaier/growt.git
[submodule "external_tools/KaGen"]
	path = external_tools/KaGen
	url = git@github.com:DanielSeemaier/KaGen.git
