[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/kassert"]
	path = external/kassert
	url = https://github.com/kamping-site/kassert.git
[submodule "external/KaGen"]
	path = external/KaGen
	url = https://github.com/KarlsruheGraphGeneration/KaGen.git
[submodule "external/bakward-mpi"]
	path = external/bakward-mpi
	url = https://github.com/kamping-site/bakward-mpi.git
[submodule "networkit"]
	path = networkit
	url = https://github.com/networkit/networkit
[submodule "ips4o"]
	path = ips4o
	url = https://github.com/ips4o/ips4o.git
